<div class="auth-container">
    <div class="image-container">
        <img [src]="isRegistering ? 'assets/images/register.png' : 'assets/images/login.png'"
            [alt]="isRegistering ? 'register image' : 'login image'">
    </div>

    <div class="form-container">
        <mat-card>
            <mat-card-title>
                <h5>{{ isRegistering ? 'Sign Up' : 'Welcome to Admira!' }}</h5>
                <h6>{{ isRegistering ? 'Enter details to create your account' : 'Sign In' }}</h6>
            </mat-card-title>
            <mat-card-content>
                <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
                    <!-- Username -->
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="username" placeholder="Enter your username">
                        <mat-icon class="material-icons-outlined" matSuffix>face</mat-icon>
                        <mat-error *ngIf="authForm.get('username')?.hasError('required') 
                            && isFormSubmitted">
                            Please enter username
                        </mat-error>
                    </mat-form-field>

                    <!-- Password -->
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                            placeholder="Enter your password" class="password">
                        <mat-icon class="material-icons-outlined" matSuffix (click)="togglePasswordVisibility()">
                            {{ hide ? 'visibility_off' : 'visibility' }}
                        </mat-icon>
                        <mat-error *ngIf="authForm.get('password')?.hasError('required')
                             && isFormSubmitted">
                            Please enter password
                        </mat-error>
                    </mat-form-field>

                    <!-- Confirm password in register page-->
                    <mat-form-field *ngIf="isRegistering" appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                            placeholder="Enter your password">
                        <mat-icon class="material-icons-outlined" matSuffix (click)="togglePasswordVisibility()">
                            {{ hide ? 'visibility_off' : 'visibility' }}
                        </mat-icon>
                        <mat-error *ngIf="authForm.get('confirmPassword')?.hasError('required') && isFormSubmitted">
                            Please confirm your password
                        </mat-error>
                        <mat-error *ngIf="authForm.hasError('passwordMismatch') && isFormSubmitted">
                            Passwords do not match
                          </mat-error>
                    </mat-form-field>

                    <div class="forgot-password" *ngIf="!isRegistering">
                        <mat-checkbox>Remember me</mat-checkbox>
                        <a href="#">Forgot password?</a>
                    </div>

                    <mat-checkbox *ngIf="isRegistering">I have read and agree to the terms of service</mat-checkbox>

                    <!-- button for login and register -->
                    <div *ngIf="isRegistering; else loginActions">
                        <button mat-raised-button color="primary" type="submit">Create Account</button>
                        <p>Already have an account? <a (click)="toggleForm()">Login here</a></p>
                    </div>
                    <ng-template #loginActions>
                        <button mat-raised-button color="primary" type="submit">Login</button>
                        <p>Don't have an account? <a (click)="toggleForm()">Create one</a></p>
                    </ng-template>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>