<div class="flex flex-col md:flex-row justify-center items-center w-full h-screen">
    <div class="w-full md:w-1/2 object-cover">
        <img class="w-full h-full" [src]="isRegistering ? 'assets/images/register.png' : 'assets/images/login.png'"
            [alt]="isRegistering ? 'register image' : 'login image'">
    </div>

    <div class="flex justify-center items-center w-full h-full md:w-1/2">
        <mat-card class="w-full h-full flex flex-col justify-center custom-rounded-none px-5 py-4 md:p-40">
            <mat-card-title class="flex flex-col justify-center p-0">
                <h5 class="text-2xl">{{ isRegistering ? 'Sign Up' : 'Welcome to Admira!' }}</h5>
                <h6 class="text-lg font-normal">{{ isRegistering ? 'Enter details to create your account' : 'Sign In' }}
                </h6>
            </mat-card-title>
            <mat-card-content class="flex flex-col justify-center p-0">
                <form class="flex flex-col w-full" [formGroup]="authForm" (ngSubmit)="onSubmit()">

                    <!-- Username -->
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="username" placeholder="Enter your username">
                        <mat-icon class="material-icons-outlined" matSuffix>face</mat-icon>
                        <mat-error *ngIf="authForm.get('username')?.hasError('required') 
                            && isFormSubmitted">
                            Please enter username
                        </mat-error>
                    </mat-form-field>

                    <!-- Password -->
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                            placeholder="Enter your password" class="password">
                        <mat-icon class="material-icons-outlined" matSuffix (click)="togglePasswordVisibility()">
                            {{ hide ? 'visibility_off' : 'visibility' }}
                        </mat-icon>
                        <mat-error *ngIf="authForm.get('password')?.hasError('required')
                             && isFormSubmitted">
                            Please enter password
                        </mat-error>
                    </mat-form-field>

                    <!-- Confirm password in register page -->
                    <mat-form-field *ngIf="isRegistering" appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword"
                            class="border-none shadow-none" placeholder="Enter your password">
                        <mat-icon class="material-icons-outlined" matSuffix (click)="togglePasswordVisibility()">
                            {{ hide ? 'visibility_off' : 'visibility' }}
                        </mat-icon>
                        <mat-error *ngIf="authForm.get('confirmPassword')?.hasError('required') && isFormSubmitted">
                            Please confirm your password
                        </mat-error>
                        <mat-error *ngIf="authForm.hasError('passwordMismatch') && isFormSubmitted">
                            Passwords do not match
                        </mat-error>
                    </mat-form-field>

                    <div class="flex justify-between text-sm" *ngIf="!isRegistering">
                        <mat-checkbox>Remember me</mat-checkbox>
                        <a class="text-sm" href="#">Forgot password?</a>
                    </div>

                    <mat-checkbox *ngIf="isRegistering">I have read and agree to the terms of service</mat-checkbox>

                    <!-- button for login and register -->
                    <div>
                        <button mat-raised-button class="w-full mx-4" color="primary" type="submit">
                            {{ isRegistering ? 'Create Account' : 'Login' }}</button>
                        <p>{{ isRegistering ? 'Already have an account? ' : "Don't have an account? " }}
                            <a class="no-underline text-blue-700 cursor-pointer" (click)="toggleForm()">
                                {{ isRegistering ? 'Login here' : 'Create one' }}</a>
                        </p>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>