<mat-toolbar class="flex !flex-row items-center justify-between w-screen shadow-md">
    <!-- Left Side: Hamburger Menu -->
    <mat-toolbar-row matPrefix class="flex items-center flex-grow-8">
        <button mat-icon-button>
            <mat-icon (click)="toggleSidenav()">menu</mat-icon>
        </button>
    </mat-toolbar-row>

    <!-- Right Side: Icons and Dropdowns -->
    <mat-toolbar-row matSuffix class="flex items-center justify-end gap-2 flex-shrink">
        <button class="mat-icon-button hidden md:inline">
            <mat-icon (click)="toggleFullscreen()">fullscreen</mat-icon>
        </button>

        <!-- cultures -->
        <button class="p-2 bg-white" mat-button [matMenuTriggerFor]="menu">
            <img class="culture-flag" [src]="'assets/icons/flags/' + selectedLanguage.country+ '.svg'"
                alt="{{ selectedLanguage.name }} flag icon">
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let language of languages" (click)="updateCulture(language)">
                <div class="flex !flex-row">
                    <img class="culture-flag" [src]="'assets/icons/flags/' + language.country + '.svg'"
                        alt="{{ language.name }} Flag">
                    {{ language.name }}
                </div>
            </button>
        </mat-menu>

        <button class="mat-icon-button hidden md:inline">
            <mat-icon class="material-icons-outlined">notifications_outline</mat-icon>
        </button>
        <button class="mat-icon-button hidden md:inline">
            <mat-icon class="material-icons-outlined">bookmark_outline</mat-icon>
        </button>

        <!-- profile -->
        <button mat-button [matMenuTriggerFor]="profileMenu">
            <div class="flex !flex-row justify-center items-center">
                <img class="w-8 h-8 rounded-full mr-1" src="assets/images/profile.png" alt="Profile Image">
                <span>admin</span>
            </div>
        </button>
        <mat-menu #profileMenu="matMenu">
            <button mat-menu-item (click)="goToProfile()">
                <mat-icon>account_circle</mat-icon>
                Profile
            </button>
            <button mat-menu-item (click)="editProfile()">
                <mat-icon>edit</mat-icon>
                Edit Profile
            </button>
            <button mat-menu-item (click)="restoreDefault()">
                <mat-icon>restore</mat-icon>
                Restore Default
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                Logout
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>