.mat-mdc-list-item {
    border-radius: 0;

    ::ng-deep .mdc-list-item__primary-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 1rem;
        border-radius: 0;
    }

    .navitem {
        display: flex;
        gap: 0.5rem;
    }

    .expand-more {
        transform: rotate(-90deg);
        transition: transform 0.3s ease;
    }

    .display-options {
        transform: rotate(0deg);
        transition: transform 0.3s ease;
    }

    ::ng-deep .dashboard-options {
        padding-left: 2rem;
    }

    ::ng-deep .mat-mdc-list-item:hover {
        color: #1a202e;
        border-radius: 0%;
    }
}
.submenu-options {
    background-color: rgb(226, 234, 245);

    span {
        padding-left: 2rem;
    }
}