<mat-card class="m-2 p-4 w-72">
    <mat-card-header class="flex justify-between items-center">
        <mat-card-title class="card-title">{{ heading }}</mat-card-title>
        <button mat-button>{{ badgeTitle }}</button>
    </mat-card-header>

    <mat-card-content>
        <span class="text-2xl font-semibold text-gray-800">{{ amount }}</span>
        <div class="mt-4">
            <label>Total Revenue</label>
            <mat-progress-bar class="h-2.5 rounded-md" mode="determinate" [value]="progress"></mat-progress-bar>
        </div>
    </mat-card-content>
</mat-card>