.revenue-cards:nth-child(even) .badge-button {
    background-color: #ff6f00; 
    color: white;
}

.revenue-card:nth-child(even) .mat-progress-bar {
    background-color: #b63b02; /* Darker orange for progress bar in even cards */
}
