<div class="dashboard1">

    <!-- revenue cards -->
    <div class="card-container">
        <app-revenue-card 
          heading="Investements" 
          badgeTitle="Monthly"
          amount="$47,000"
          [progress]="55">
        </app-revenue-card>
      
        <app-revenue-card 
          heading="Sales" 
          badgeTitle="Annual"
          amount="$22784"
          [progress]="42">
        </app-revenue-card>
      
        <app-revenue-card 
          heading="Cost" 
          badgeTitle="Today"
          amount="$1587"
          [progress]="75">
        </app-revenue-card>
      
        <app-revenue-card 
          heading="Profit" 
          badgeTitle="Weekly"
          amount="$1400"
          [progress]="48">
        </app-revenue-card>
      </div>
      
</div>